.tb1 {
	-fx-background-color: transparent
}
.tb2 {
	-fx-background-color: transparent
}

.tb3 {
	-fx-background-color: transparent
}

.tb4 {
	-fx-background-color: transparent
}

.tb5 {
	-fx-background-color: transparent
}

.tb6 {
	-fx-background-color: transparent
}
.NewGameButton {
	-fx-background-color: transparent
}
.JoinGameButton{
	-fx-background-color: transparent
}
.Button{
	-fx-background-color: transparent
}
